<%= form_with(model: micropost) do |form| %>
  <% if micropost.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.radio_button :category, :personal %> Personal </br>
    <%= form.radio_button :category, :food %> Food </br>
    <%= form.radio_button :category, :travel %> Travel </br>
    <%= form.radio_button :category, :lifestyle %> Lifestyle </br>
    <%= form.radio_button :category, :technology %> Technology </br>
    <%= form.radio_button :category, :fashion %> Fashion </br>
    <%= form.radio_button :category, :entertainment %> Entertainment </br>
  </div>

  <div>
    <%= form.label :tag_list, 'Tags (separated by commas)',  style: "display: block" %>
    <%= form.text_area :tag_list %>
  </div>

  <div>
    <%= form.label :rich_content, style: "display: block" %>
    <%= form.rich_text_area :rich_content, class: "block" %>
  </div>

  <div>
    <%= form.submit "Create Micropost", class: "cursor-pointer bg-indigo-400 inline-block p-2 m-1 rounded-md hover:bg-indigo-500" %>
  </div>
<% end %>
