<div id="<%= dom_id micropost %>" class="bg-yellow-200 hover:bg-yellow-300 inline-block rounded-md p-3 m-2">
  <p>
    <strong>Content:</strong>
    <%= micropost.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= micropost.user.email %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= micropost.category %>
  </p>

  <p>
    <strong>Rich Content:</strong>
    <%= micropost.rich_content %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= raw micropost.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  </p>
</div>
