<%= render @micropost %>
<br>
<%= render partial: 'likes/button', locals: { likeable: @micropost } %>

<strong>Comments:</strong>
<%= render @micropost.comments.order(id: :desc) %>
<%= render partial: 'comments/form', locals: { micropost: @micropost } %>

<div>
    <%= link_to "Edit this micropost", edit_micropost_path(@micropost), class: "cursor-pointer bg-indigo-400 inline-block p-2 m-1 rounded-md hover:bg-indigo-500" if policy(@micropost).edit? %> |
    <%= button_to "Destroy this micropost", @micropost, method: :delete, class: "cursor-pointer bg-indigo-400 inline-block p-2 m-1 rounded-md hover:bg-indigo-500" if policy(@micropost).destroy? %>
  <%= link_to "Back to microposts", microposts_path, class: "cursor-pointer bg-indigo-400 inline-block p-2 m-1 rounded-md hover:bg-indigo-500" %>
  </div>
