<%= render @micropost %>
<br>
<%= @micropost.likes.count %> likes
<% like = current_user.likes.find_by(micropost: @micropost) %>
<% if like.nil? %>
  <%= button_to "Like", likes_path, params: { like: { micropost_id: @micropost.id } } %>
<% else %>
  <%= button_to "Unike", like_path(like), method: :delete %>
<% end %>
<%= render @micropost.comments.order(id: :desc) %>
<%= render partial: 'comments/form', locals: { micropost: @micropost } %>

<div>
    <%= link_to "Edit this micropost", edit_micropost_path(@micropost) if policy(@micropost).edit? %> |
    <%= button_to "Destroy this micropost", @micropost, method: :delete  if policy(@micropost).destroy? %>
  <%= link_to "Back to microposts", microposts_path %>
  </div>
