<header class="flex flex-row shrink-0 place-content-between bg-teal-900 text-white">
  <div class="logo hover:bg-teal-300 hover:text-black rounded p-2 m-2">LOGO</div>
  <nav>
    <ul class="flex flex-row">
      <li class="hover:bg-teal-300 hover:text-black rounded p-2 m-2"><%= link_to "Home", root_path %></li>
      <% if user_signed_in? %>
        <li class="hover:bg-teal-300 hover:text-black rounded p-2 m-2"><%= link_to "Users", users_path %></li>
        <li class="hover:bg-teal-300 hover:text-black rounded p-2 m-2"><%= link_to "All Posts", microposts_path %></li>
        <li class="hover:bg-teal-300 hover:text-black rounded p-2 m-2"><%= button_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="hover:bg-teal-300 hover:text-black rounded p-2 m-2"><%= link_to "Sign Up", new_user_registration_path %></li>
        <li class="hover:bg-teal-300 hover:text-black rounded p-2 m-2"><%= link_to "Login", new_user_session_path %></li>
      <% end %>
      <li class="hover:bg-teal-300 hover:text-black rounded p-2 m-2"><%= link_to "Help", help_path %></li>
    </ul>  
  </nav>
</header>